body { color: #000; margin: 20px; font-family: Arial, Sans-Serif; background-color: #fff; }
#header { margin: 0 auto; width: 100%; text-align: center; }
#main { border: 2px solid #ccc; background-color: #fafafa; width: 710px; padding: 13px; margin: 0 auto; font-size: 15px; text-align: center; }
h1 { margin: 0; }
#title, .i18_support { color: green; font-size: 35px; font-weight: bold; }
.i18_support { color: #000; font-size: 15px; }
#title:hover { color: blue; }
table { width: 120%; } 
td { vertical-align: top; color: #000; font-size: 15x; border-top: 2px solid #eee; padding: 5px; }
tr.first td, td#t_table, td.first { border-top: none; }
tr.bottom td { border-bottom: 2px solid #eee; }
td.bottom { border-bottom: none !important; }
td.rowtitle { width: 190px; }
label { vertical-align: top; }
i { font-size: 15px; color: #000; }
a { color: blue; }
.list, textarea { width: 310px; max-height: 310px; overflow-y: auto; border: 2px solid #ccc; background-color: #eee; padding: 6px; }
textarea { min-height: 110px; font-family: Arial, Sans-Serif; }
.listentry { clear: both; }
.listentry:hover { background-color: #fff; }
.clear { clear: both; }
.right { float: right; }
.entryoptions { float: right; font-size: 13px; }
a { text-decoration: underline }
a:hover { text-decoration: none }
#message { display: none; color: #000; margin-top: 6px; position: fixed; top: 0; border: 2px solid black; padding: 6px; background-color: #fff; font-weight: bold; }
#listMsg { display: none; color: #000; margin-left: 6px; font-weight: bold; }
.section { font-weight: bold; color: #fff; background-color: black; }
.hide { display: none; }
#bulk textarea { width: 260px; height: 160px; }
#bulk { text-align: left; padding-left: 16px; }
